@import "colors";
@import "generic";
@import "margins";

body {
  margin: 0;
  background-color: $color-body;
}

.container {
  height: 100vh;
  width: 100vw;
  color: $color-primary-text;
}

.control {
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
  text-align: center;
  font-weight: 600;

  &:hover {
    color: $color-accent;
    cursor: pointer;
  }
}

.font_5 {
  font-size: 5rem;
}
